.a-notice-info {
  $root: &;
  @include card-info;

  position: relative;
  display: flex;
  flex-direction: column;
  width: 316px;
  min-width: 316px;
  height: 113px;
  padding-top: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $fontset-jp;
  color: $color-text-black;
  cursor: pointer;

  @include sp() {
    width: 100%;
  }

  &__date {
    position: relative;
    display: flex;
    align-items: center;
    font-family: $font-inter;
    font-size: 14px;
    line-height: normal;
    color: $color-primary-grey;

    &::before {
      #{$root}--unread & {
        position: absolute;
        top: 50%;
        left: -12px;
        width: 8px;
        height: 8px;
        content: '';
        background-color: $color-primary-red;
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__description {
    display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
    height: 50px;
    margin-top: 4px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; /* stylelint-disable-line property-no-vendor-prefix */
  }

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
